.container {
  display: flex;
  background-color: #f2f7f7;
}

.main {
  list-style: none;
  width: 360px;
  overflow: hidden;
  // display: block;
  .li {
    float: left;

    width: 100px;
    height: 120px;
    background-color: aliceblue;
    border: 1px solid #ef4f57;

    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }
}
