.aside {
  width: 100px;
  display: flex;
  flex-direction: column;
  background-color: $navBg;
  overflow: hidden;

  .user {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .name {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 8px;
      text-align: center;
      color: #fff;
    }
  }

  .nav {
    flex: 1;

    .nav-item {
      box-sizing: border-box;
      height: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-left: 4px solid transparent;
      cursor: pointer;
      color: #99a6b2;
      font-size: 28px;

      &:hover {
        color: #bbb;
      }

      &.active {
        border-left-color: #55d48b;
        background-color: $chatBg;
        color: #fff;
      }
    }
  }
}
