.container {
  display: flex;
  background-color: #f2f7f7;

  .header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      color: #090909;
    }

    .online {
      display: flex;
      align-items: center;
      .status {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #c6c6c6;
        &.active {
          background-color: #52c41a;
        }
      }
    }
  }
}
