.toolset {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;

  .cotnent {
    position: relative;
    margin-right: 16px;
    max-width: 67%;
    padding: 12px;
    border-radius: 8px;
    background-color: #ade792;

    &::before {
      content: '';
      position: absolute;
      left: 100%;
      top: 10px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-left: 10px solid #ade792;
    }
  }
}
