.card {
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  background-color: #24303f;

  &.card-active {
    background-color: $theme !important;
  }

  &:hover {
    background-color: rgba(41, 55, 74, 0.9);
  }

  .card-content {
    flex: 1;
    height: 100%;
    padding: 20px 0;
    margin-left: 24px;
    overflow: hidden;
    border-bottom: 1px solid #888;
    .card-header {
      display: flex;
      width: 100%;
      margin-bottom: 8px;
      .card-name {
        width: 0;
        flex: 1;
        margin-right: 30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        color: #fff;
      }
      .card-time {
        font-size: 12px;
        color: #999;
      }
    }

    .card-info {
      min-height: 20px;
      display: flex;

      .card-message {
        margin-right: 20px;
        width: 0;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-size: 12px;
        color: #6b7580;
      }
    }
  }
}
